@use '../../variables/colors';
@use '../../variables/fonts';

.previousPageSection{
    display: flex;
    position: absolute ;
    top: 50px; 
    left:475px;
}


.title-header {
    font-size: 32px;
}

.form-header-subtitle {
    margin-top: 10px;
    font-size: 16px;

}
.form-header-subtitle2 {
    margin-bottom: 15px;
    font-size: 14px;
    color: colors.$grey;
    max-width: 420px;
    margin-left: 10px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 35px;

    input[type="radio"] {
        display: none;
    }
}

.forms-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="radio"].role+label {
    background-color: #E4E4E4;
    color: colors.$black;
    line-height: 1.5;
    border-radius: 5px;
    font-size: x-large;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 20px;
}

input[type="radio"].role:checked+label {
    background-color: #E4E4E4;
    font-weight: bold;
    font-size: xx-large;
}

.button-container {
    display: block;
    margin-top: 35px;
    ;
    margin-left: 45vw;
    height: 2vw;
    width: 5vw;
}

.button {
    padding: 10px 15px;
    background-color: colors.$primary;
    border-radius: 25px;
    border: solid 3px transparent;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: #FFF;
    border: solid 3px colors.$primary;
    color: colors.$primary;
    transition: 0.3s;
}

.form-input-icon-chevron {
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.forms-container {
    display: flex;
    align-items:flex-start;
}