.test{
    background-color: red;
    display: block;
    width: 40vw;
    height: 40vh;
}

.title{
    width: fit-content;
    margin-left: 45%;
}

.icon{
    display: flex;
    margin-left: 19%;
    width: fit-content;
    justify-content: center;
}

.image{
    background-color: gray;
    border-radius: 50%;
    width: 10%;
margin-left: 3%;
}